:root{
    --Pale-Blue: hsl(243, 100%, 93%);
--Grayish-Blue: hsl(229, 7%, 55%);
--Dark-Blue: hsl(228, 56%, 26%);
--Very-Dark-Blue: hsl(229, 57%, 11%);
--Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
}

main{
    background-color: var(--Very-Dark-Blue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    gap: 1em;
    font-family: "Raleway", sans-serif;
}
.first-container{
    background-color: var(--Dark-Blue);
    padding: 2em;
    /* max-width: 390px; */
    border-radius: 0.5em;
    border-top-right-radius:5em ;
}
span{
    font-weight: 700;
}
.pop-up span{
    font-weight: 700;
    font-size: xx-large;
}
.pop-up p{
    font-size: 14px;
    color: var(--Grayish-Blue);
    font-weight: 400;
}
p{
    font-size: 14px;
    color: var(--Pale-Blue);
}
.second-container{
    position: relative;
}
.icon-container{
    display: flex;
    gap: 0.5em;
    margin-top: 2em;

}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-Dark-Blue);
    padding: 0.8em;
    text-align: center;
    border-radius: 0.5em;

}

.second-container{
    background-color: var(--Dark-Blue);
    color: var(--Pale-Blue);
    padding-inline: 2em;
    
    border-radius: 0.5em;

}

.line{
background-color: var(--Very-Dark-Blue);
   padding: 0.09em;
    border-radius: 1em;
    padding-right:3em ;

}
.inner-line{
    background-image: linear-gradient(90deg,hsl(6, 100%, 80%),hsl(335, 100%, 65%));
    border-radius: 1em;
    width: 81.5%;
    padding: 0.1em;
    animation: innerline 2.5s ease;
}
.GB-container{
    display: flex;
    justify-content: space-between;
}

.dot{
    background-color: #fff;
    max-width: 0.5em;
    min-height: 0.5em;
    border-radius: 50%;
     margin-inline-start: auto;
     margin-right: 0.2px;
     animation: dot 2.5s ease;
}
.pop-up{
    background-color: #fff;
    padding: 1em;
    color: #000;
    border-radius: 0.5em;
    position:absolute;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    animation: pop-up 2s ease;

   
}
@keyframes pop-up{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}
.pop-up p{
    margin: 0;
}
.pop-up span{
    animation: span 3s ease;

}
@keyframes span{
    0%{
        opacity: 0;
    }20%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }60%{
        opacity: 0;
    }80%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

@media(max-width:600px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main{
        background-image: url(./fylo-data-storage-component-master/images/bg-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 375px;
    }
    .container{
        margin-inline: 2em;
    }
    .second-container{
        padding-bottom: 3em;
        padding-top: 1em;
    }
    .pop-up{
        bottom: -1em;
        left: 5em;
    }
}
@media(min-width:601px){
    main{
        background-image: url(./fylo-data-storage-component-master/images/bg-desktop.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 4em;
    }
    .container{
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        max-width: 800px;
        width: 100%;
    }
    .first-container{
        width: 35%;
    }
    .second-container{
        width: 60%;
        padding-block: 0.7em;
        
    }
    .pop-up{
        padding-right: 2em;
        padding-block: 1.2em;
        right: 2em;
        top: -3em;
    }
    .pop-up:after{
        content: "";
        background-color: #fff;
        position: absolute;
        width: 32px;
        height: 34px;
        top: 41px;
        transform: skewy(53deg);
        margin-inline-start: 8.03em;
    }
    
    
}
@keyframes dot {
    0% {
        left: -20px;
    }
    100% {
        left: 439px;
    }
} 

@keyframes innerline {
    0% {
        width: 0px;
    }
    100% {
        width: 81.5%;
    }
}
